/*
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");
*/
:root {
  --bg-primary: #343434;
  --bg-secondary: #454545;
}

.bg-primary { 
  background: var(--bg-primary) !important;
}

.bg-secondary { 
  background: var(--bg-secondary) !important;
}

body {
  background: #F1EFE2;
}

html {
  font-size:0.95rem !important;
}

a {
  color: #00B7FF;
}

#workspace{
  padding: 10px 30px 20px 30px;
  /*margin-left: 20px;
  margin-right: 20px;*/
  margin-top: 85px;
  background: #FFF;
  box-shadow: 1px 1px 5px #999;
}

.btn, .form-control {
  border-radius: 0px !important;
}

.form-group > .btn {
  margin-top: 25px;
}

footer{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: #999;
  text-align: right;
}

footer > a {
  color: #999;
  font-weight: 800;
}

.alert {
  border-radius: 0rem;
}

#nav1{
  height: 25px;
  font-size: 0.90rem;
  padding-left: 23px;
  padding-right: 30px;
}

#nav1 > .container > ul > li{
  display: inline;
}

#nav1 > .container > ul > li > a{
  color: #fdfdfd;
  font-weight: 400;
}

#nav1 > .container > ul > li > a:hover{
  color: #FFF;
  text-decoration: none;
  font-weight: 600;
}

#nav1 > .container > ul > li:first-child {
  margin-right: 15px;
  color: white;
}

#nav1 > .container > ul {
  position: relative;
  float: left;
  margin-top: 3px;
  padding-left: 0px;
  padding-right: 0px;
}

#nav2{
  padding-left: 23px;
  padding-right: 23px;
  margin-top: 25px;
}

.user{
  font-weight: 600 !important;
}

.user:hover{
  text-decoration: underline !important;
}

.btn > i {
  margin-right: 5px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

h4 > .fa-frown-o{
  font-size: 40px;
  top: -12px;
  position: relative;
  float: left;
}

.media-body {
  padding-top: 30px;
  padding-left: 20px;
}

.form-check-inline{
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .form-group > a, .card-body > button{
    width: 100%;
    margin-left: 0px !important;
  }

  .mr-auto > .nav-user > a{
    display: inline;
    color: rgba(255,255,255,.95);
    font-weight: 600;
  }

  .mr-auto > .nav-user {
    color: rgba(255,255,255,.5);
  }

  .mr-auto > .nav-item:last-child {
    padding-top: 10px;
  }
  

  .form-check-inline {
    width: 100%;
  }

  #btnSave{
    margin-left: 0px !important;
    width: 100%;
    margin-top: 0px !important;
  }
}
