/* video */

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

code {
  padding: 0 0.15rem;
  background: #f5f5f5;
  border-radius: 0.2rem;
}


/* footer */

.footer-social{
  background-color: var(--secondary-color);
  color: var(--background-primary-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-link{
  color: var(--background-primary-color);
}

.social-link:hover{
  color: white;
  font-size: 15px;
}

.footer-above{
  background-color: var(--primary-color);
  color: #FDFDFD;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-below{
  background-color: #343434;
  color: #FDFDFD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-below > .container > .row > .col-lg-12 > a {
  color: var(--background-primary-color);
}

.footer-below > .container > .row > .col-lg-12 > a:hover{
  color: #FFF;
  text-decoration: none;
  font-weight: 500;
}

.contact-info .info-item {
  position: relative;
  padding-left: 45px;
}

.contact-info .info-item i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  font-weight: 600;
}

.contact-info .info-item h6 {
  font-size: 16px;
  line-height: 24px;
  color: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  color: #FFF;
}

.contact-info .info-item p {
  font-size: 14px;
  line-height: 24px;
  padding: 2px 0px;
}

.form-control, .btn{
  border-radius: 0px;
}

.btn-lg{
  font-size: 17px;
}

#btnContact{
  background-color: var(--secondary-color);
  color: #FDFDFD;
  border-color: #886573;
}

.float{
	position:fixed;
  width: 80px;
  height: 80px;
	bottom:40px;
	right:40px;
	background-color:#00bfa5;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:50px;
  z-index:100;
}

.my-float{
	margin-top:16px;
}