<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Documentos del Evento</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <% documents.each(function(document) { %>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-horizontal">
                <div class="card-body">
                  <h4 class="card-title"><%= document.get('name') %></h4>
                  <p class="card-text"><%= document.get('description') %></p>
                  <div class="form-group">
                    <a class="btn btn-info pull-left" style="margin-top: 12px;" href="/video/<%= document.get('id') %>">
                      <i class="fa fa-video-camera" style="margin-right:5px"></i>
                      Videos del Curso
                    </a>
                  </div>
                  <div class="form-group">
                    <a class="btn btn-secondary pull-left" style="margin-top: 12px; margin-left: 20px;" href="/document/<%= document.get('id') %>"> <i class="fa fa-book" style="margin-right:5px"></i>Materiales del Curso</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>
</div>